'.platform-darwin atom-text-editor':
  'cmd-r': 'find-and-replace:use-selection-as-find-pattern'
  'shift-cmd-c': 'editor:toggle-line-comments'
  'shift-cmd-up': 'editor:move-line-up'
  'shift-cmd-down': 'editor:move-line-down'
  'cmd-d': 'editor:delete-line'
  'cmd-r': 'find-and-replace:use-selection-as-find-pattern'

'atom-text-editor:not(mini)[data-grammar^="source elixir"]':
  'cmd-b': 'atom-elixir:goto-definition'
  'cmd-e': 'atom-elixir:show-elixir-docs'


windows:
'atom-text-editor':
  'alt-r': 'find-and-replace:use-selection-as-find-pattern'
  'shift-alt-c': 'editor:toggle-line-comments'
  'shift-alt-up': 'editor:move-line-up'
  'shift-alt-down': 'editor:move-line-down'
  'alt-d': 'editor:delete-line'

'atom-text-editor:not(mini)[data-grammar^="source elixir"]':
  'alt-b': 'atom-elixir:goto-definition'
  'alt-e': 'atom-elixir:show-elixir-docs'

'.editor':
    'ctrl-backspace': 'editor:delete-to-previous-word-boundary'
